.grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    overflow: auto;
    background: #fff;
    // border: 1px solid #b9a8a8;
    border-radius: 4px;
    .top {
      flex-grow: 0;
      flex-shrink: 0;
      width: 100%;
      height: 76px;
      border-bottom: 1px solid #e8e8e8;
      .topHead {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 24px;
        button {
          padding: 0 8px;
        }
      }
      .topHead > div:nth-of-type(2) {
        button:nth-of-type(1) {
          margin-right: 20px;
        }
        time:nth-of-type(1) {
          margin-right: 20px;
        }
        button:nth-of-type(2) {
          margin-right: 20px;
        }
      }
    }
    .middle {
      position: relative;
      flex-grow: 1;
      flex-shrink: 1;
      overflow: auto;
      .contentItem {
        position: absolute;
        width: 150px;
        text-align: center;
      }
      .head {
        position: sticky;
        top: 0;
        z-index: 2;
        background: #f7f5f3;
        .row {
          .cell {
            font-weight: 500;
            border-bottom: 1px solid #e8e8e8;
          }
        }
      }
      .body {
        background: #f7f5f3;
        .row:last-child {
          .cell {
            border-bottom: 0;
          }
        }
      }
      .row {
        display: flex;
        width: fit-content;
        .cell:first-child {
          position: sticky;
          left: 0;
          z-index: 1;
          width: 88px;
          background: #fafafa;
        }
        .cell:last-child {
          border-right: 0;
        }
      }
      .cell {
        flex-grow: 0;
        flex-shrink: 0;
        width: 150px;
        height: 30px;
        color: #000;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        background: #fff;
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px dotted #e8e8e8;
      }
    }
    .bottom {
      height: 42px;
      padding: 11px;
      text-align: right;
      background: #fff;
      border-top: 1px solid #e8e8e8;
      span {
        display: inline-block;
        height: 20px;
        margin-right: 6px;
        padding: 0 6px;
        line-height: 20px;
        border-radius: 2px;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 280px;
    height: 100%;
    margin-left: 10px;
    .top {
      flex-grow: 0;
      flex-shrink: 0;
      width: 100%;
      height: 236px;
      margin-bottom: 10px;
      background: #fff;
      // border: 1px solid #b9a8a8;
      border-radius: 4px;
    }
    .bottom {
      flex-grow: 1;
      flex-shrink: 1;
      width: 100%;
      min-height: 800px;
      background: #fff;
      border-radius: 4px;
      .bottom-title {
        height: 55px;
        padding: 18px;
        font-weight: 500;
        font-size: 16px;
        border-bottom: 1px solid #e9e9e9;
      }
    }
  }
}

.time-hover-content {
  table td > div {
    height: 60px !important;
  }
}
