.customize-select {
  .dropdown {
    display: flex;
    height: 30px;
    line-height: 30px;
    background: #fafafa;
  }
  .dropdown > div {
    padding: 0 22px;
  }
  .dropdown > div:hover {
    color: #9fcc43;
    background: #fcfff0;
  }
  .dropdown > div.active {
    color: #9fcc43;
    background: #fcfff0;
  }
}
