.customize-select {
  .dropdown {
    display: flex;
    flex-wrap: wrap;
  }
  .dropdown > div {
    height: 30px;
    padding: 0 22px;
    line-height: 30px;
  }
  .dropdown > div:hover {
    color: #9fcc43;
    background: #fcfff0;
  }
  .dropdown > div.active {
    color: #9fcc43;
  }
  .customize-dropdown-class {
    max-width: 276px;
  }
}
